.deps
compat/jansson/.deps
autom4te.cache
*.in
*.vcxproj*
config.*
configure
Makefile
stamp-h1
aclocal.m4
compat/Makefile
compat/Makefile.in
compat/jansson/Makefile
compat/jansson/Makefile.in
cpuminer-config.h
